


.content-slider {
    background-color: rgb(126, 185, 126);
    overflow: hidden;
    position: relative
}

.slider-horizontal {
    height: 320px;
    display: flex; /* Uso de Flexbox para posicionamiento de los testimonios de manera horizontal*/
}

.slider-item {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 1%;
    font-size: 20px;
    text-align: center;
}


.client-photo img {
    border: 2px solid rgb(87, 81, 81);
}

.client-photo img{
    height: 150px;
    border-radius: 50%;
}

.client-name {
    margin-top: 5px;
    font-size: 24px;
    
}

.line-sep {
    background-color: red;
    height: 2px;
}

.client-coment p {
    margin-top: -20px;
}

.client-coment p::before {
    content: "\201c";
    font-size: 40px;
    text-align: justify;
}


[class*="slider-buttom"] img{
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}

.slider-buttom-left img{
    left: 5px;
}

.slider-buttom-right img {
    right: 5px;
}



.options {
    background-color: rgb(126, 185, 126);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

[class*="btn-color"] {
    font-size: 15px;
    padding: 5px 20px;
}



/*
.content-slider {
    background-color: rgb(126, 185, 126);
    overflow: hidden;
    position: relative
}

.slider-horizontal {
    display: flex; 
}

.slider-item {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 1%;
}

.dato-client{
    width: 300px;
    display: flex;
    justify-items: center;
}

.client-photo {
    height: 150px;
    border-radius: 50%;
}

.client-photo img {
    height: 150px;
    border-radius: 50%;
}

.client-name {
    align-self: center;
    font-size: 25px;
}

.line-sep {
    background-color: red;
    height: 2px;
}


[class*="slider-buttom"] img{
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}

.slider-buttom-left img{
    left: 5px;
}

.slider-buttom-right img {
    right: 5px;
}



.options {
    background-color: rgb(126, 185, 126);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

[class*="btn-color"] {
    font-size: 15px;
    padding: 5px 20px;
}
*/