

.content-slider {
    background-color: rgb(126, 185, 126);
    border: 3px solid black;
    overflow: hidden;
    position: relative
}

.slider-horizontal {
    width: -100%;
    display: flex; /* Uso de Flexbox para posicionamiento de los testimonios de manera horizontal*/
}

.slider-item {
    height: 400px;
    padding: 0.5%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 24px;
}

.client-name {
    font-size: 150%;
    margin: 1% auto;
}

.client-photo {
    height: 150px;
    border-radius: 50%;
}

[class*="slider-buttom"] img{
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}

.slider-buttom-left img{
    left: 5px;
}

.slider-buttom-right img {
    right: 5px;
}



.options {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
}

[class*="btn-color"] {
    font-size: 15px;
    padding: 5px 20px;
}
