<div class="content-slider">
    <div class="slider-buttom-left" (click)="runLef()">
        <img src="../../../assets/img/left-arrow-64.png" alt="">
    </div>
    <div class="slider-horizontal" [ngStyle]="myStyle">
        <div class="slider-item">
            <img src="https://i.pinimg.com/originals/53/24/f3/5324f3e8bfe673f81be9f8de56843a96.jpg" alt="" class="client-photo">
            <p class="client-name">Cliente 1</p>
            <p class="client-coment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates delectus facilis consectetur non voluptatibus, laboriosam temporibus eius suscipit fugit. Vitae dolorum eius, voluptatem velit sunt neque consectetur distinctio.</p>
        </div>
        <div class="slider-item">
            <img src="https://i.pinimg.com/originals/53/24/f3/5324f3e8bfe673f81be9f8de56843a96.jpg" alt="" class="client-photo">
            <p class="client-name">Cliente 2</p>
            <p class="client-coment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates delectus facilis consectetur non voluptatibus, laboriosam temporibus eius suscipit fugit. Vitae dolorum eius, voluptatem velit sunt neque consectetur distinctio.</p>
        </div>
        <div class="slider-item">
            <img src="https://i.pinimg.com/originals/53/24/f3/5324f3e8bfe673f81be9f8de56843a96.jpg" alt="" class="client-photo">
            <p class="client-name">Cliente 3</p>
            <p class="client-coment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci voluptates delectus facilis consectetur non voluptatibus, laboriosam temporibus eius suscipit fugit. Vitae dolorum eius, voluptatem velit sunt neque consectetur distinctio.</p>
        </div>
    </div>
    <div class="slider-buttom-right" (click)="runRight()">
        <img src="../../../assets/img/right-arrow-64.png" alt="">
    </div>
</div>
