<div class="content">

    <header class="header-pag sen">
        <h1>ENCABEZADO DE PAGINA</h1>
    </header>

    <div class="nav-pag sen">
        <nav>BARRA DE MENÚ </nav>
    </div>

    <main class="main-pag sen">
        <div>
            <h3>PARRAFO PRINCIPAL</h3>
        </div>
    </main>
    
    <app-slider class="testimony-pag"></app-slider>

    <div class="seccion-1 sen">
        <p>SECCIÓN 1</p>
    </div>

    <div class="seccion-2 sen">
        <p>SECCIÓN 2</p>
    </div>

    <div class="seccion-3 sen">
        <p>SECCIÓN 3</p>
    </div>

    <div class="footer-pag sen">
        <footer>ESTE ES UN FOOTER</footer>
    </div>

</div>