

.content {
    display:grid;
    grid-template-areas: "header header header"
                          "navbar navbar navbar"  
                          "main main main"
                          "testimony testimony testimony"
                          "sec1 sec1 sec3"
                          "sec2 sec2 sec3"
                          "footer footer footer";
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

.header-pag {
    grid-area: header;
    text-align: center;
}

.nav-pag {
    grid-area: navbar;
    height: 50px;
    justify-content: start;
}

.main-pag {
    grid-area: main;
    height: 200px;
}

.testimony-pag {
    grid-area: testimony;
}

.seccion-1 {
    grid-area: sec1;
    height: 300px;
}

.seccion-2 {
    grid-area: sec2;
}

.seccion-3 {
    grid-area: sec3;
}


.footer-pag {
    grid-area: footer;
    height: 100px;
    background-color: gray;
    color: honeydew;
}


.sen {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}