
/* CSS GRID aplicado */
.content {
    display:grid;
    grid-template-areas: "header header header"
                          "navbar navbar navbar"  
                          "main main main"
                          "sec1 sec2 sec3"
                          "testimony testimony testimony"
                          "sec4 sec4 sec4"
                          "footer footer footer";
}

.sen {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.header-pag {
    grid-area: header;
    text-align: center;
    font-size: 20px;
}

.nav-pag {
    color: rgb(255, 255, 255);
    background-color: rgb(41, 38, 38);
    padding: 2px 50px;
    grid-area: navbar;
    height: 50px;
    justify-content: start;
}

.main-pag {
    grid-area: main;
    height: 200px;
    font-size: 25px;
}


.testimony-pag {
    grid-area: testimony;
}

.testimony-pag h4 {
    padding: 10px;
    font-size: 25px;
    margin: 0;
}

.seccion-1 {
    grid-area: sec1;
    height: 200px;
}

.seccion-2 {
    grid-area: sec2;
}

.seccion-3 {
    grid-area: sec3;
}

.seccion-4 {
    grid-area: sec4;
    height: 200px;
}

.footer-pag {
    grid-area: footer;
    height: 100px;
    background-color: gray;
    color: honeydew;
}

.content-nav {
    width: 400px;
    display: flex;
}

.content-nav li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

/* medidas para una pagina responsive */
@media (max-width: 1367px) and (min-width: 1041px) {
    .content {
        display:grid;
        grid-template-areas: "header header"
                              "navbar navbar"  
                              "main main"
                              "sec1 sec2"
                              "sec3 sec3"
                              "testimony testimony"
                              "sec4 sec4"
                              "footer footer";
        grid-row-gap: 1px;
        grid-column-gap: 1px;
    }
}

@media (max-width: 1040px) {
    .content {
        display:grid;
        grid-template-areas: "header"
                              "navbar"  
                              "main"
                              "sec1"
                              "sec2"
                              "sec3"
                              "testimony"
                              "sec4"
                              "footer";
        grid-row-gap: 1px;
        grid-column-gap: 1px;
    }
}