
<div class="content">

    <header class="header-pag">
        <h1>RETO WINTATECH</h1>
        <P>(PÁGINA 3)</P>
    </header>

    <div class="nav-pag sen">
        <h3 >BARRA DE MENÚ</h3>
        <nav>
            <ul class="content-nav">
                <li><div [routerLink]="['/home']">Home</div></li>
                <li><div [routerLink]="['/page2']">Página 2</div></li>
                <li><div (click)="present()">Página 3</div></li>
            </ul>
        </nav>
    </div>

    <main class="main-pag sen">
        <div>
            <h3>{{palabra}}</h3>
        </div>
    </main>
    
    <div class="testimony-pag">
        <h4>¿Qué comentan nuestros clientes sobre nosotros?</h4>
        <app-slider></app-slider>
    </div>

    <div class="seccion-1 sen">
        <p>SECCIÓN 1</p>
    </div>

    <div class="seccion-2 sen">
        <p>SECCIÓN 2</p>
    </div>

    <div class="seccion-3 sen">
        <p>SECCIÓN 3</p>
    </div>

    <div class="seccion-4 sen">
        <p>SECCIÓN 4</p>
    </div>

    <div class="footer-pag sen">
        <footer>ESTE ES UN FOOTER</footer>
    </div>

</div>